/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.logo-container {
    position: relative;
}

.logo {
    max-width: 100%;
    height: auto;
}

/* Clickable dot */
.dot {
    position: absolute;
    top: 25%; /* Adjust this value to position the dot */
    left: 70%; /* Adjust this value to position the dot */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent; /* Transparent, only for clickable area */
    cursor: pointer;
    z-index: 2; /* Ensure it is above the logo */
}

.dot:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Optional hover effect */
}
